#submit {
    background-color: green;
    color: white;
    font-weight: bolder;
}

header {
    display: inline
}

#brand{
    display: inline;
    text-align: center;
}

nav {
    display: inline;
}

